.center {
    text-align: center;
}

#pred {
    color: red;
}

#pblue {
    color: blue;
}

#pgreen {
    color: green;
}

.bold {
    font-weight: bold;
}

.font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.styledFont {
    text-align: center;
    color: pink
}

.big {
    font-size: 30px;
}

.small {
    font-size: 8px;
}

.orange {
    color: orange;
}

#styledImage {
    border-style: double;
    border-width: 12px;
    border-color: darkslateblue;
}
